<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Exercise Tracker</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="icon" href="/public/gym.png" type="image/x-icon">
    </head>

    <body>
        <div class='mx-44 my-10 border-b bg-slate-400 p-10 border-black flex space-x-6'>
            <h1 class="text-3xl font-semibold">
                <a href="/">
                    Exercise Tracker
                </a>
            </h1>
            <nav class=" flex mt-1.5">
                <ul class="flex text-xl space-x-4">
                    <li>
                        <a href="exercise.ejs">
                            Exercise
                        </a>
                    </li>
                    <li>
                        <a href="createExercise.ejs">
                            Create Exercise
                        </a>
                    </li>
                    <li>
                        <a href="CreateUser.ejs">
                            Create User
                        </a>
                    </li>
                </ul>
            </nav>
            This is Home
        </div>
    </body>

</html>